* {
    margin: 0;
    padding: 0;
}
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}*/
/*li{
    float: right;
}
li a {
    display: block;
}*/
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: yellow;
}

.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-image: url(./photos/kyiv.jpg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-content {
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
}
.main-content h2{
    font-size: 4vmin;
}

.main-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}


ul li{
    font-size: 24px;
}
ul li:hover{
    color: crimson;
}
.navbar h1{
    color: lightskyblue;
}
.nav-links li a {
    color: lightskyblue;
}