html {
    overflow: scroll;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
iframe{
    filter: invert(100%);
    width: 80%;
    height: 300px;
    justify-content: center;
    margin: 10px 100px;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(255, 255, 0, 100%);
    margin: auto;
}

.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 8px 30px 0px 30px;

}

header {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-image: url(./photos/kyiv.jpg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-content {
    margin-top: 10px;
    color: rgba(255, 255, 255, 100%);
    text-align: center;
}
.main-content h2{
    font-size: 4vmin;
}

.main-content h1{
    font-size: 7vmin;
    margin-top: 30px;
    margin-bottom: 30px;
}


ul li{
    font-size: 24px;
}

.navbar h1{
    color: rgba(135, 206, 250, 100%);
    font-size: 24px;
}
.nav-links li a {
    color: rgba(135, 206, 250, 100%);
}


section {
    width: 80%;
    margin: 80px auto;
}

.interesting-facts{
    text-align: center;
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 5px;
    background: rgba(128, 0, 128, 100%);
    margin: 10px auto;
    border-radius: 5px;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.text-about-city {
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 100%);
    color: rgba(139, 0, 0, 100%);
}

.facts-and-map{
    margin-top: 40px;
}
.text-about-city-mobile{
    display: none;
}
.map-mobile{
    display: none;
}




/* mobile */
@media only screen and (max-width: 850px){
    .menu-btn{
        display: block;
        right: 0px;
    }
    .navbar {
        padding: 0;
        background: none;
    }
    .home-link{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        margin-top: -900px;
        transition: all 1s ease;
    }
    .nav-links li {
        margin: 30px auto;
        background-color: rgba(255, 255, 0, 100%);
    }
    html {
        overflow: scroll;
        overflow-x: hidden;
    }
    .mobile-menu{
        margin-top: 0;
    }


    .text-about-city-mobile{
        display: block;
        margin-top: 20px;
        background-color: rgba(139, 0, 0, 100%);
        color: rgba(0, 0, 0, 100%);
        padding: 10px;
        border: 4px black dashed;
        border-radius: 5%;
    }
    .map-mobile{
        margin-top: 20px;
        padding-left: 15%;
        padding-right: 5%;
        width: 100%;
        height: 20vh;
        display: block;
        align-items: center;
        justify-content: center;
    }
    iframe{
        margin: auto 10px;
    }
    /*.row{
        flex-direction: column;
    }
    iframe{
        width: 100%;
        margin: 10px;
    }
    .text-about-city{
        color: black;
        background: none;
    }
    .interesting-facts{
        margin-top: 20px;
    }*/
    .facts-and-map{
        display: none;
    }
    footer{
        position: absolute;
        font-size: 28px;
        padding-top: 50px;
    }

}


