ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    font-size: 24px;
}

li {
    float: left;
}

li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: yellow;

}
.navbar{
    background-color: #1faeec;
    padding: 0;
}



/* On smaller screens, decrease text size */
/*@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}*/

.header{
    font-size: 30px;
    font-family: inherit;
    text-align: center;
    margin-top: 20px;

}
.row{
    margin-top: 40px;
}
img{
    max-width: 600px;
    max-height: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40%;

    margin: auto 0;
}
img:hover{
    transform: scale(1.5);
}




/* mobile */
@media only screen and (max-width: 850px){
    .row {
        flex-direction: column;
    }
    .row .col-5{
        margin: 5px auto;
        /*padding-right: 40%;*/
        align-items: center;
        justify-content: center;
    }
    .row .col-7{
        margin: 20px auto;
        align-items: center;
        justify-content: center;
    }
    img{
        justify-content: center;
        height: 150px;
    }
    img:hover {
        transform: scale(0);
    }
}